<footer class="footer-area bg-gray pt-100 pb-70">
    <div class="container">
      <div class="row">
        <!-- Logo and Copyright -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="copyright mb-30">
            <div class="footer-logo">
              <a href="#">
                <img alt="Sofrecom Logo" src="assets/logo.png" class="logo-img">
              </a>
            </div>
            <p>© 2024 <a href="#">Sofrecom</a>.<br> All Rights Reserved</p>
          </div>
        </div>
  
        <!-- About Us Section -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-widget mb-30">
            <div class="footer-title">
              <h3>ABOUT US</h3>
            </div>
            <div class="footer-list">
              <ul>
                <li><a href="#">Our Company</a></li>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Our Expertise</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
  
        <!-- Useful Links Section -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-widget mb-30">
            <div class="footer-title">
              <h3>USEFUL LINKS</h3>
            </div>
            <div class="footer-list">
              <ul>
                <li><a href="#">Digitalization & Innovation</a></li>
                <li><a href="#">Telecom Networks</a></li>
                <li><a href="#">Sustainability</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </div>
          </div>
        </div>
  
        <!-- Follow Us Section -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-widget mb-30">
            <div class="footer-title">
              <h3>FOLLOW US</h3>
            </div>
            <div class="footer-list">
              <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">YouTube</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Additional Sections -->
      <div class="row mt-5">
        <!-- Sectors Section -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="footer-widget mb-30">
            <div class="footer-title">
              <h3>SECTORS</h3>
            </div>
            <div class="footer-list">
              <ul>
                <li><a href="#">Telecom Operators</a></li>
                <li><a href="#">Public Institutions</a></li>
                <li><a href="#">Financial Services</a></li>
                <li><a href="#">Cloud Strategy</a></li>
              </ul>
            </div>
          </div>
        </div>
  
        <!-- Insights Section -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="footer-widget mb-30">
            <div class="footer-title">
              <h3>INSIGHTS</h3>
            </div>
            <div class="footer-list">
              <ul>
                <li><a href="#">News & Insights</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Work at Sofrecom</a></li>
                <li><a href="#">Join Us</a></li>
              </ul>
            </div>
          </div>
        </div>
  
        <!-- Expertise Section -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="footer-widget mb-30">
            <div class="footer-title">
              <h3>EXPERTISE</h3>
            </div>
            <div class="footer-list">
              <ul>
                <li><a href="#">Digitalization & Innovation</a></li>
                <li><a href="#">Telecom Networks</a></li>
                <li><a href="#">Sustainability</a></li>
                <li><a href="#">Operational Efficiency</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Newsletter Subscription -->
      
    </div>
  </footer>