<header class="main-header" [ngClass]="{ 'scrolled': isScrolled }" [class.at-top]="isAtTop">
    <div class="header-inner">
      <!-- Logo -->
      <div class="logo">
        <a routerLink="/dashboard">
          <img src="assets/logo.png" alt="logo-img">
        </a>
      </div>
 
      <!-- Navigation -->
      <nav class="main-nav">
       
        <ul>
          <li><a routerLink="/dashboard">Accueil</a></li>
          <li><a [routerLink]="'/applications'">Applications</a></li>
          <li><a routerLink="/Formation_disponible">Formations</a></li>
          <li><a [routerLink]="'/restaurant-schedule'">Resto</a></li>
          <li><a [routerLink]="['/bus']">Bus</a></li>
 
          <li>
            <a routerLink="/profile" class="profile-icon">
              <img src="assets/ppbg.png" alt="Profil">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>  