<div class="preloader" id="preloader">
    <div class="spinner"></div>
</div>

<div class="slider-area">
    <div class="slider-active owl-carousel nav-style-1 owl-dot-none">
        <div class="single-slider slider-height-1 bg-purple">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6">
                        <div class="slider-content slider-animated-1">
                            <h3 class="animated">NOTRE ENTREPRISE</h3>
                            <h1 class="animated">Sofrecom , Filiale D'orange <br></h1>
                            <div class="slider-btn btn-hover">
                                <a class="animated" href="https://www.sofrecom.com/">VOIR MAINTENANT</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6">
                        <div class="slider-single-img slider-animated-1">
                            <img class="animated" src="assets/img/slider/single-slide-hm1-2.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height-1 bg-purple">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6">
                        <div class="slider-content slider-animated-1">
                            <h3 class="animated">Sofrecom Tunisie</h3>
                            <h1 class="animated">Recrutre Plusieurs Profile <br>(H/F) </h1>
                            <div class="slider-btn btn-hover">
                                <a class="animated" href="https://www.linkedin.com/posts/sofrecom-tunisie_sofrecomtunisie-recrutement-nousrejoindre-activity-7315730555977793536-T2i-?utm_source=share&utm_medium=member_desktop&rcm=ACoAADx-XO4B24k_BJJL9WvGyZLT3PHQf_FI_HY">Visit Here</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6">
                        <div class="slider-single-img slider-animated-1">
                            <img class="animated" src="assets/img/slider/single-slide-hm1-2.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>