<app-header></app-header>


<!-- Profile Content -->
<div class="container mt-4">
  <div class="profile-header text-center">
    <img
      class="profile-image"
      src="/assets/Blank Profile Picture.jpg"
      alt="User Profile Picture"
    />
    <h2 class="profile-name">{{ userInfo?.nomEmp }}</h2>
    <p class="profile-username">{{ userInfo?.mail }}</p>
    <p class="profile-role">{{ userInfo?.fonction }}</p>
  </div>

  <div class="profile-details mt-4">
    <h3 class="profile-details-title">Details:</h3>
    <ul class="list-group">
      <li class="list-group-item"><strong>Employee ID:</strong> {{ userInfo?.matEmp }}</li>
      <li class="list-group-item"><strong>Position:</strong> {{ userInfo?.position }}</li>
      <li class="list-group-item"><strong>Department:</strong> {{ userInfo?.nomDept }}</li>
      <li class="list-group-item"><strong>Manager:</strong> {{ userInfo?.nomResp }}</li>
      <li class="list-group-item"><strong>Business Unit:</strong> {{ userInfo?.nameBu }}</li>
      <li class="list-group-item"><strong>Region:</strong> {{ userInfo?.region }}</li>
      <li class="list-group-item"><strong>Country:</strong> {{ userInfo?.pays }}</li>
      <li class="list-group-item"><strong>Seniority:</strong> {{ userInfo?.seniorite }}</li>
      <li class="list-group-item"><strong>Total Leave Days:</strong> {{ userInfo?.totConge }}</li>
      <li class="list-group-item"><strong>Sick Leave Days:</strong> {{ userInfo?.congeMaladie }}</li>
    </ul>
  </div>
</div>

<app-footer></app-footer>